<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>News app</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js"></script>
<script src="source.js"></script>

</head>

<body ng-app="theNews" ng-controller="bodyCtrl">

	<div class="container">
		<!-- Header meny -->
		<div class="header" ng-controller="menuCtrl">
			<ul class="nav nav-pills" role="tablist">
			     <li ng-repeat="item in theMenuItems">
			     	<a href="" ng-click="whichMenuItem(item)" class="menuColor">{{item.menuTitle}}</a>
			     </li>
				<div id="rightMenu">
					<div class="rightSide" ng-controller="contentCtrl">
					     <input name="searchField" type="text" class="form-control" placeholder="Sök på artikel..." ng-model="a.str">
					</div>
					<div class="btn-group rightMenu rightSide" dropdown dropdown-append-to-body ng-controller="contentCtrl">
						<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
							{{pickedCategory2}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="cat in categories"><a href="" ng-click="setCat(cat)">{{cat}}</a></li>
						</ul>
					</div>

				</div>
			</ul>
		</div>

		<!-- article section -->
		<div class="row"  ng-controller="contentCtrl">
			<div class="col-md-12">
				<div ng-view></div>
			</div>
		</div>    
	</div>

</body>

</html>
